<div id="vg-postnord-order-preview-buttons">
  <button type="button" class="btn btn-primary" name="vg-postnord-generate-label-button"
          onclick="window.open('{{ generate_label_url }}', '_blank')">
    {{ 'Create booking and fetch label'|trans({}, 'Modules.Vgpostnord.Admin') }}
  </button>
</div>
